<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ro.sapientia.ms.sapientiaorarend">

    <uses-sdk tools:overrideLibrary="me.aflak.libraries" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.LoginScreen"
            android:label="@string/android_manifest_login"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.SignUpScreen"
            android:label="@string/android_manifest_signup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MainScreen"
            android:label="@string/android_manifest_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DailyMenuScreen"
            android:label="@string/android_manifest_lunch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MapScreen"
            android:label="@string/android_manifest_map"
            android:screenOrientation="portrait" />

        <service android:name=".Services.DatabaseListening" />

        <activity
            android:name=".Activity.activity_send_message"
            android:label="@string/android_manifest_send_message"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.SettingsScreen"
            android:label="@string/android_manifest_settings"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Activity.MessageDisplay"
            android:label="@string/android_manifest_received_messages"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Nobar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.CheckPassword"
            android:label="@string/android_manifest_authentificate"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>